
<%= form_tag({controller: 'bookings', action:'new'}, method: 'get', class: 'Bookings') do %>
  <%= hidden_field_tag 'passenger' ,"#{@passengers}" %>
  <%  @flights.each do |flight| %>
    <div class = 'form-flight' >
  	  <%= radio_button("flight","id",flight.id) %>
  	  <%= flight.from_airport.airport_code %>
  	  <%= flight.to_airport.airport_code %>
      <%= flight.start_date.to_date %>
      <%= flight.start_hour %>

    </div>
   
  <% end %>

  <%= submit_tag 'Choose flight' %>
<% end %>
